.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #30106b;
  /* z-index: 10;
  position: fixed; */

  /* Because we want header to be sticky later */
  min-height: 9.6rem;
  /* width: 100%; */
  padding: 0 4.8rem;
}

.logo {
  height: 8rem;
  width: auto;
}

.link {
  color: #fff;
}

.links {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 4.8rem;
  font-size: 1.8rem;
  font-weight: 500;
}

.logout {
  padding: 1.2rem 2.4rem;
  border-radius: 9px;
  color: #fff;
  background-color: #cf2e2e;
}

.logout:hover {
  background-color: #fc3737;
  transition: 0.3s all;
}

/* Mobile Navigation */
.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;

  display: none;
}

.icon {
  height: 4.8rem;
  width: 4.8rem;
  color: #fff;
  background-color: #7439e1;
  padding: 0.5rem;
  border-radius: 1rem;
}

.close {
  display: none;
}

/**************************/
/* BELOW 944px (Tablets) */
/**************************/

@media (max-width: 59em) {
  .btn-mobile-nav {
    display: block;
    z-index: 5;
    order: -1;
  }

  .nav {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    justify-content: flex-start;
    transition: all 0.5s ease-in;
    background-color: rgba(255, 255, 255, 0.9);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(10px);
    position: fixed;
    top: 0;
    width: 30rem;
    left: -30rem;
    height: 100vh;
    padding: 4rem 2rem 0 1rem;
    z-index: 999;
    transition: 0.2s ease-in-out;
  }

  .header {
    padding: 0 3.2rem;
  }

  .logout {
    flex-grow: 1;
  }

  .nav.nav-open {
    left: 0;
  }

  .links {
    flex-direction: column;
  }

  .link {
    color: black;
  }
}

@media (max-width: 33em) {
  .header {
    padding: 0 2.2rem;
  }

  .logo {
    width: 10rem;
    height: auto;
  }
}
