.options p {
  font-size: 2.2rem;
  font-weight: 600;
}

.buttonAdd {
  font-size: 1.8rem;
  margin: 2rem auto 4rem auto;
}

@media (max-width: 75rem) {
  .options p {
    font-size: 2.2rem;
    font-weight: 500;
  }
}

@media (max-width: 59rem) {
  .options p {
    font-size: 2rem;
    font-weight: 500;
  }
}
