.team {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.5rem;
  cursor: pointer;
  margin-bottom: 2rem;
}

.teamsList {
  list-style: none;
  max-height: 50rem;
  overflow-y: scroll;
  padding: 2rem 0;
}

.teamsList::-webkit-scrollbar {
  display: none;
}

.teamsList li img {
  width: 4rem;
  height: 4rem;
}
