.teamHeader {
  display: flex;

  align-items: center;
  padding: 3rem 3rem;
  gap: 2rem;
  font-size: 2.2rem;
  color: white;
  font-weight: bold;
  max-width: inherit;
  height: 5rem;
  background-color: #009788;
}

.options {
  padding: 4rem;
}

.options p {
  font-size: 2.2rem;
  font-weight: 600;
}

.teamHeader .closeBtn {
  cursor: pointer;
}

.buttonAdd {
  font-size: 1.8rem;
  margin: 2rem auto 4rem auto;
}

@media (max-width: 75rem) {
  .options p {
    font-size: 2.2rem;
    font-weight: 500;
  }

  .options {
    padding: 3rem;
  }

  .teamHeader {
    font-size: 2rem;
  }
}

@media (max-width: 59rem) {
  .options p {
    font-size: 2rem;
    font-weight: 500;
  }
}
