.form {
  height: 85vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  max-width: 90%;
  margin: 0 auto;
}

.add-button {
  width: 12rem;
  height: 12rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 5rem;
  font-weight: bold;
  color: white;
  background-color: rgb(160, 160, 160);
  padding: 5rem;
  border-radius: 100%;
  position: relative;
}

.teams {
  display: flex;
  gap: 10rem;
}

.teams div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.6rem;
}

.teams div p:nth-child(1) {
  font-size: 1.6rem;
  color: rgb(152, 152, 152);
}

.teams div p:nth-child(3) {
  font-size: 1.6rem;
  color: #333;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
  font-weight: 600;
  text-align: center;
}

@media (max-width: 33em) {
  .add-button {
    width: 10rem;
    height: 10rem;
    font-size: 6rem;
  }

  .teams {
    gap: 8rem;
  }
}

@media (max-width: 21em) {
  .add-button {
    font-size: 5rem;
  }

  .teams {
    gap: 6rem;
  }
}
